@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body {
  background-image: url('./consts/bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: 'Mochiy Pop One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


